[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
line-bot-sdk = "*"
dotenv = "*"
mangum = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
