[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
line-bot-sdk = "*"
dotenv = "*"
mangum = "*"
requests = "*"
python-dotenv = "*"
openai = "*"
oauth2client = "*"
gspread = "*"
google-auth = "*"
boto3 = "*"
fastapi = "*"
fugashi = {extras = ["unidic-lite"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
